OPENROUTER_API_KEY=your_openrouter_api_key_here
EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key_here

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=Tutorial
